Q1. Explain with an example each when to use a for loop and a while loop.

In [1]:
# for loop 
# Use for loop
# for loop basically used for print the element to continuos like i have a data if data is store a list so use for loop to easly store to data in a list
# For Example
# 2 example

# 1.example
p = [ 1,2,3,4,5,5,1,2,3,4]
for z in p:
    print(z)

1
2
3
4
5
5
1
2
3
4

In [12]:
# 2. exapmle
l=[1,2,3,4,5]
l1=[]
for i in l:
    print(i)
    l1.append(i)

1
2
3
4
5

In [14]:
l

[1, 2, 3, 4, 5]

In [15]:
l1

[1, 2, 3, 4, 5]

Q2. Write a python program to print the sum and product of the first 10 natural numbers using for
and while loop.

In [16]:
# print sum of first 10 natural number using for loop

In [17]:

l = [1,2,3,4,5,6,7,8,9,10]
result = 0
for i in l:
    result = result+i
result

55

In [18]:
# print product of first 10 natural number using for loop

In [21]:

l = [1,2,3,4,5,6,7,8,9,10]
result = 1
for i in l:
    result = result*i
result

3628800

In [22]:
# print sum of first 10 natural number using while loop

In [26]:
count = 1
result = 0
while count <= 10:
    result = result+count
    count = count+1
result

55

In [27]:
# print prodect of first 10 natural number sng while loop

In [3]:
count = 1
result = 1
while count <= 10:
    result = result*count
    count = count+1
result

3628800

Q3. Create a python program to compute the electricity bill for a household.


The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.
You are required to take the units of electricity consumed in a month from the user as input.
Your program must pass this test case: when the unit of electricity consumed by the user in a month is
310, the total electricity bill should be 2250.

In [10]:
unit = int(input("enter your unit to find electricity bill"))
if unit <=100:
    print("your electricity bill is ",unit*4.5)
elif unit >100 and unit <=200:
    print("your electricity bill is ",unit*6)
elif unit >200 and unit <=300:
    print("your electricity bill is ",unit*10)
else:
     print("your electricity bill is ",unit*20)

enter your unit to find electricity bill 310

your electricity bill is  6200

Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.

In [31]:
# for loop
l1=[]
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100]
for i in l:
    print(i**3)
    if i % 4 == 0:
        print(i)
    if i % 5 == 0:
            print(i)

1
8
27
64
4
125
5
216
343
512
8
729
1000
10
1331
1728
12
2197
2744
3375
15
4096
16
4913
5832
6859
8000
20
20
9261
10648
12167
13824
24
15625
25
17576
19683
21952
28
24389
27000
30
29791
32768
32
35937
39304
42875
35
46656
36
50653
54872
59319
64000
40
40
68921
74088
79507
85184
44
91125
45
97336
103823
110592
48
117649
125000
50
132651
140608
52
148877
157464
166375
55
175616
56
185193
195112
205379
216000
60
60
226981
238328
250047
262144
64
274625
65
287496
300763
314432
68
328509
343000
70
357911
373248
72
389017
405224
421875
75
438976
76
456533
474552
493039
512000
80
80
531441
551368
571787
592704
84
614125
85
636056
658503
681472
88
704969
729000
90
753571
778688
92
804357
830584
857375
95
884736
96
912673
941192
970299
1000000
100
100

In [30]:
# while loop
i = 0
while i <= 100:
        print(i**3)
        i = i + 1
        if i % 4 == 0:
            print(i)
        if i % 5 == 0:
            print(i)

0
1
8
27
4
64
5
125
216
343
8
512
729
10
1000
1331
12
1728
2197
2744
15
3375
16
4096
4913
5832
6859
20
20
8000
9261
10648
12167
24
13824
25
15625
17576
19683
28
21952
24389
30
27000
29791
32
32768
35937
39304
35
42875
36
46656
50653
54872
59319
40
40
64000
68921
74088
79507
44
85184
45
91125
97336
103823
48
110592
117649
50
125000
132651
52
140608
148877
157464
55
166375
56
175616
185193
195112
205379
60
60
216000
226981
238328
250047
64
262144
65
274625
287496
300763
68
314432
328509
70
343000
357911
72
373248
389017
405224
75
421875
76
438976
456533
474552
493039
80
80
512000
531441
551368
571787
84
592704
85
614125
636056
658503
88
681472
704969
90
729000
753571
92
778688
804357
830584
95
857375
96
884736
912673
941192
970299
100
100
1000000

Q5. Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist"

In [62]:
s = 'I want to become a data scientist'
vowel = 0
for i in range(0,len(s)):
    if(s[i]!=''):
        if(s[i]=='a' or s[i]=='e' or s[i]=='i' or s[i] == 'o' or s[i] == 'u'):
            s[i]=='A' or s[i]=='E' or s[i]=='I' or s[i] == 'O' or s[i] == 'U'
            
            
            vowel = vowel+1
            
print("total vowels = :",vowel)

total vowels = : 11